body {
  font-family: 'IBM Plex Mono', monospace;
}

h1, h2, .skills-list {
  font-family: 'Inknut Antiqua', serif;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 10px;
  margin-top: 10px;
}

.intro-img {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

nav {
  background-color: #DBEBF4;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 14px;
  top: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li.empty {
  width: 90px;
  border-top: 1px solid black;
  top: -5px;
  position: relative;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  text-decoration: underline;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

header {
  top: 70px;
  position: relative;
  margin-bottom: 220px;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -72px;
}

.skills-list {
  font-size: 50px;
  text-align: center;
  line-height: 150%;
  margin-bottom: 130px;
}

h1 {
  font-size: 85px;
  line-height: 130%;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

h2 {
  font-size: 30px;
  line-height: 130%;
}

h1, h2{
  font-weight: normal;
}

p {
  font-size: 15px;
  line-height: 150%;
}

.button {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 20px;
  font-size: 15px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background: black;
  color: white;
}

.project {
  margin: 30px 0;
  padding: 50px;
}

.blue {
  background-color: #DBEBF4;
}

.project .button {
  margin-top: 10px;
}

.right-alignment {
  text-align: right;
}

footer {
  text-align: center;
  margin: 100px;
}

footer h2 {
  font-size: 35px;
  margin-bottom: 100px;
}

footer p {
  font-size: 15px;
}
